html {
	height: 100%;
}

body {
	font-family: 'Jost', sans-serif;
	font-size: 20%;
	background-color: lightcoral;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%
}

#title {
	text-align: center;
	font-size: 30px;
	;
}

#container {
	border: 5px solid hsl(0, 78.9%, 84%);
	border-radius: 4px;
	max-width: auto;
	min-width: auto;
  width: 350px;
  max-height: auto;
  min-height: auto;
  height: 500px;
	padding: 10px;
	background-color: hsl(0, 78.9%, 90%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
		"display display display display"
		"blank blank blank blank" 
		"buttonAllClear buttonClear buttonMultiply buttonDivide" 
		"button7 button8 button9 buttonPlus"
		"button4 button5 button6 buttonMinus"
		"button1 button2 button3 buttonEquals" 
		"button0 buttonDot buttonNegPos buttonEquals";
}

#footer {
	text-align: center;
	font-size: 20px;
}

#display {
	font-family: 'VT323', monospace;
	font-size: 50px;
	grid-area: display;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: lightcoral;
	border-radius: 5px;
	border: 3px solid  hsl(0, 78.9%, 70.2%);
	margin: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttons {
	margin: 5px;
	font-family: "Jost", sans-serif;
	font-size: 25px;
	border-radius: 5px;
	border-color: hsl(0, 78.9%, 60%);
	background-color: rgb(236, 92, 92);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttons:hover {
	background-color: black;
	color: hsl(0, 78.9%, 64.2%);
	transform: scale(1.125);
	transition: ease-in-out;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

#button1 {
	grid-area: button1;
}

#button2 {
	grid-area: button2;
}

#button3 {
	grid-area: button3;
}

#button4 {
	grid-area: button4;
}

#button5 {
	grid-area: button5;
}

#button6 {
	grid-area: button6;
}

#button7 {
	grid-area: button7;
}

#button8 {
	grid-area: button8;
}

#button9 {
	grid-area: button9;
}

#button0 {
	grid-area: button0;
}

#buttonNegPos {
	grid-area: buttonNegPos;
}

#buttonDot {
	grid-area: buttonDot;
}

#buttonEquals {
	grid-area: buttonEquals;
}

#buttonPlus {
	grid-area: buttonPlus;
}

#buttonMinus {
	grid-area: buttonMinus;
}

#buttonMultiply {
	grid-area: buttonMultiply;
}

#buttonDivide {
	grid-area: buttonDivide;
}

#buttonClear {
	grid-area: buttonClear;
}

#buttonAllClear {
	grid-area: buttonAllClear
}

