body {	
	font-family: 'Jost', sans-serif;
	font-size: 20px;
	background-color: lightcoral;
	color: black;

}

h1 {
	color: black;
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
	}
	
#outer-container {
	display: block;
	border: 4px solid  hsl(0, 78.9%, 80.2%);
	border-radius: 4px;
	width: 400px;
	height: 500px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 10px;
	background-color: hsl(0, 78.9%, 90.2%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
#top-inner-container{	
	display: block;
	border: 2px solid black;
	border-radius: 4px;
	}
	
#display{
	text-align: right;
	height: 25px;
	background-color: lightgray;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#bottom-inner-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"buttonMclear buttonDivide buttonMultiply buttonMinus"
		"button7 button8 button9 buttonPlus"
		"button4 button5 button6 buttonPlus"
		"button1 button2 button3 buttonEquals"
		"button0 button000 buttonDot buttonEquals";
	margin-top: 50px;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 4px;
	height: 400px;
	}
	
.items {
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.buttons {
	margin: 5px;
	color: black;
	font-family: "Jost", sans-serif;
	font-size: 18px;
	border-radius: 5px;
	border-color: black;
	background-color: hsl(0, 78.9%, 64.2%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

.buttons:hover {
  background-color: crimson;
  color: black;
}

#button1 {grid-area:button1;}
#button2 {grid-area:button2;}
#button3 {grid-area:button3;}
#button4 {grid-area:button4;}
#button5 {grid-area:button5;}
#button6 {grid-area:button6;}
#button7 {grid-area:button7;}
#button8 {grid-area:button8;}
#button9 {grid-area:button9;}
#button0 {grid-area:button0;}
#button000 {grid-area:button000;}
#buttonDot {grid-area:buttonDot;}
#buttonEquals {grid-area:buttonEquals;}
#buttonPlus {grid-area:buttonPlus;}
#buttonMinus {grid-area:buttonMinus;}
#buttonMultiply {grid-area:buttonMultiply;}
#buttonDivide {grid-area:buttonDivide;}
#buttonClear {grid-area:buttonMclear;}


